
@{
	ViewData["Title"] = "Create Account";

	var roles = roleManager.Roles.ToList();
}

<section class="signup-section">
	<div class="container">
		<div class="signup">
			<div asp-validation-summary="ModelOnly"></div>
			<form method="post" enctype="multipart/form-data" class="signup-form">
				<div>
					<label  class="form-label">First Name</label>
					<input  class="form-control" value="@Model.FirstName"/>
					<small class="text-danger"></small>
				</div>
				<div>
					<label  class="form-label">Last Name*</label>
					<input  class="form-control" value="@Model.LastName"/>
					<small class="text-danger"></small>
				</div>
				<div class="form-long">
					<label class="form-label">Street Name*</label>
					<input  class="form-control" value="@Model.StreetName"/>
					<small class="text-danger"></small>
				</div>
				<div>
					<label class="form-label">Postal Code*</label>
					<input  class="form-control" value="@Model.PostalCode"/>
					<small class="text-danger"></small>
				</div>
				<div>
					<label class="form-label">City*</label>
					<input class="form-control" value="@Model.City"/>
					<small class="text-danger"></small>
				</div>
				<div>
					<label  class="form-label">Mobile (Optional)</label>
					<input  class="form-control" value="@Model.Mobile"/>
				</div>
				<div>
					<label  class="form-label">Company (Optional)</label>
					<input  class="form-control" value="@Model.CompanyName"/>
				</div>
				<div class="form-long">
					<label  class="form-label">E-mail*</label>
					<input  class="form-control" value="@Model.Email"/>
					<small class="text-danger"></small>
				</div>
				@if (User.IsInRole("Admin"))
				{
					<div class="role-select">
						<label class="form-label">Role</label>
						<select class="form-control" >
							@foreach (var role in roles)
							{
								<option value="@role.Name">@role.Name</option>
							}

						</select>
					</div>
				}
				<button class="btn-theme" type="submit">SUBMIT</button>
			</form>

		</div>
	</div>
</section>