
@{
    var users = await userService.GetAllUserRolesAsync();
    var products = await productService.GetAllProductsAsync();
}

<section class="admin-controls">
    <div class="container">
        <div class="user-list">
            <div class="create-btn">
                <a  asp-controller="Admin" asp-action="CreateUser">Create User</a>
            </div>
            <div class="list">
                @foreach(var user in users)
                {
                    <div class="list-item">
                        <div>
                            <label class="list-item-label me-1">Name: </label>
                            <p class="me-2">@user.FirstName</p>
                            <p>@user.LastName</p>
                        </div>
                        <div class="list-item-email">
                            <label class="list-item-label me-1">Email:</label>
                            <p>@user.Email</p>
                        </div>
                        @foreach(var role in user.Roles)
                        {
                            <div id="role">
                                <label  class="list-item-label me-1">Role:</label>
                                <p>@role</p>
                            </div>
                        }

                        <div class="list-item-icons">
                            <a class="edit-user" asp-controller="Admin" asp-route-id="@user.Id" asp-action="EditUser"><i class="fa-solid fa-pencil"></i></a>
                            <button><i class="fa-solid fa-trash-can ms-3"></i></button>
                        </div>
                    </div>
                   
                }
            </div>
        </div>
        <div class="product-list">
            <div class="create-btn">
                <a  asp-controller="Product" asp-action="CreateProduct">Create Product</a>
            </div>
            <div class="list">
                @foreach(var product in products)
                {
                    <div class="list-item">
                        
                        <div class="list-item-content">
                            @if(product != null)
                            {
                                @foreach(var image in product.Images.Take(1))
                                {
                                    @if(image != null)
                                    {
                                        <img class="list-item-image me-2" src="/images/products/@image.ImageUrl" />
                                    }
                                }

                                <div>
                                    <div>
                                        <label class="list-item-label me-1">Title: </label>
                                        <span class="list-item-span me-2">@product?.Title</span>
                                    </div>

                                    <div>
                                        <label class="list-item-label me-1">Price:</label>
                                        <span class="list-item-span">@product?.Price KR</span>
                                    </div>
                                    <div>
                                        <label class="list-item-label me-1">Categories:</label>
                                        @foreach (var item in product.Categories)
                                        {

                                            @if (item != null)
                                            {
                                                <span class="list-item-span me-2">@item.Category.CategoryName</span>
                                            }

                                        }
                                    </div>
                                </div>
                            }


                        </div>
                        <div class="list-item-icons">
                            <button><i class="fa-solid fa-pencil"></i></button>
                            <button><i class="fa-solid fa-trash-can ms-3"></i></button>
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</section>

