
@{
    var users = await userService.GetAllUserRolesAsync();
    var products = await productService.GetAllProductsAsync();
}

<section class="admin-controls">
    <div class="container">
        <div class="user-list">
            <div class="create-btn">
                <a  asp-controller="User" asp-action="createuser">Create User</a>
            </div>
            <div class="list">
                @foreach(var user in users)
                {
                    <div class="list-item">
                        <div>
                            <label class="list-item-label me-1">Name: </label>
                            <p class="me-2">@user.FirstName</p>
                            <p>@user.LastName</p>
                        </div>
                        <div class="list-item-email">
                            <label class="list-item-label me-1">Email:</label>
                            <p>@user.Email</p>
                        </div>
                        @foreach(var role in user.Roles)
                        {
                            <div>
                                <label class="list-item-label me-1">Role:</label>
                                <p>@role</p>
                            </div>
                        }

                        <div class="list-item-icons">
                            <button><i class="fa-solid fa-pencil"></i></button>
                            <button><i class="fa-solid fa-trash-can ms-3"></i></button>
                        </div>
                    </div>
                    

                    


                }
            </div>
        </div>
        <div class="product-list">
            <div class="create-btn">
                <a  asp-controller="Product" asp-action="CreateProduct">Create Product</a>
            </div>
            <div class="list">
                @foreach(var product in products)
                {
                    <div class="list-item">
                        
                        <div>
                            @if(product != null)
                            {
                                @foreach(var image in product.Images.Take(1))
                                {
                                    @if(image != null)
                                    {
                                        <img class="list-item-image me-2" src="/images/products/@image.ImageUrl" />
                                    }
                                }
                            }
                            <label class="list-item-label me-2">Title: </label>
                            <p>@product?.Title</p>
                        </div>
                        <div>
                            <label class="list-item-label me-2">Price:</label>
                            <p>@product?.Price</p>
                            <span class="ms-2">Kr</span>
                        </div>
                        <div>
                            <label class="list-item-label me-2">Categories:</label>
                        @foreach (var item in product?.Categories)
                        {
                            
                            @if (item != null)
                            {
                                <p class="me-2">@item.Category.CategoryName</p>
                            }
                            
                        }
                        </div>

                        <div class="list-item-icons">
                            <button><i class="fa-solid fa-pencil"></i></button>
                            <button><i class="fa-solid fa-trash-can ms-3"></i></button>
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</section>

